.header{
  width: 100%;
  padding: 0.8rem 1rem;
}

.header .nav{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%; 
  background: red;
}

.nav .logo{
  justify-self: start;
  background-color: pink;
  margin-left: 2rem;
}

.logo .logo-img{
  height: 3.4rem;
}

