  
  /* HERO */


.home__hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20rem;
  padding: 1rem calc(10% - 20px);
  color: white;
  text-align: center;
}

.home .hero-vid-container {
  display: flex;
  z-index: -1;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 98%;

}

.home .hero-vid-container .hero-vid-filter {
  position: absolute;
  width: 98%;
  height: 100%;
  background-color: rgba(67, 191, 110, 0.25);
}

.home .hero-vid-container .hero-video{
  z-index: -1;  
  width: 98%;
  height: 30rem;
  object-fit: cover;

}

.home__hero h2{
  font-size: 2.5rem;
}
.home__hero p{
  padding: 1rem;
  font-size: 1rem;
}

/* STATEMENTS */

.home__statements{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 2rem;
}

.home__statements h3{
  padding: 0 1rem;
  color: white;
  font-size: 1.3rem;
}

.home__statements .statement{
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.statement .statement-icon{
height: 3rem;
}


/* PRODUCTS */

.home__products{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home__products .link-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  max-width: 20rem;
  margin: 0 1rem;
  padding: 2rem 1.5rem ;
  border-radius: 20px;
  background: white;
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
  transition: transform .2s;
}

.link-block h3{
  padding: 1rem;
  color: var(--main);
}

.link-block p{
  font-size: .9rem;
}

.link-block:hover{
  transform: scale(1.05);
}

/* AI INFOGRAPH */

.home .ai-infograph{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}

.ai-infograph .ai-inforgraph-graphic{
  width: 75%;
  height: 15rem;
  margin: 2rem;
  border-radius: 20px;
  background:  #17a2b8;
  box-shadow: 0 0 50px rgb(0 0 0 / 30%);
}

/* RESOURCES */

.home .resources {
display: flex;
align-items: center;

}
.resources .block {
  width: 75%;
  min-width: 20rem;
  height: 10rem;
  margin: 2rem;
}

.resources .text {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;
}

.resources .text h3{
  padding: 1rem;
}


/* DIN */

.home .din{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 10rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(0 0 0 / 30%);
  color: black;
  transition: transform .2s;
}

.home .din:hover {
  transform: scale(1.05);
}

.din .text{
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-width: 30rem;
  padding: 1rem;
}
.din h3{
  padding: 1rem;
}

.din .block{
  width: 100%;
  height: 200px;
  min-width: 200px;
}

/* voices */

.home .voices{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  width: 100%;
}
.voices h2{
padding: 2rem;
}

.voices .block {
  width: 50%;
  height: 10rem;
  margin: 2rem;
  width: 80%;
}


/* careers */

.home .careers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 2rem;
}
.careers h2{
padding: 2rem;
}

.careers .block {
  width: 50%;
  width: 80%;
  height: 20rem;
  margin: 2rem;
}

/* team */

.home .team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 2rem;
}
.team h2{
padding: 2rem;
}

.team .block {
  width: 50%;
  width: 80%;
  height: 30rem;
  margin: 2rem;
}
