@font-face {
  font-family: 'weblys';
  src: url("./assets/font/weblysleekuisl.ttf") format("truetype");
}
@font-face {
  font-family: 'weblysBold';
  src: url("./assets/font/weblysleekuisb.ttf") format("truetype");
}


:root{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  --main: #41b2bc;
  --dark: #3d545c;
}
*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'weblys', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
    /* color: var(--main);  */
    text-decoration:none; 
    cursor:pointer;  
}
.page{
  margin-top: 5.5rem;
  margin-bottom: 5rem;

  padding: 0 .5rem;
}